@model DobijeniIzazovi_ViewModel

@{ ViewData["Title"] = "Izazovi";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@{ int i = 1; }

<div>
    <h1>Izazvani ste od strane:</h1>
</div>
@if (Model.Izazovi.Any())
 {
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Izazvao</th>
                <th scope="col">Zakazano Mesto</th>
                <th scope="col">Zakazano Vreme i Datum</th>
                <th scope="col">Vreme Slanja</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

       @foreach (var lista in Model.Izazovi)    
        {
            <tr>
                <td>@Convert.ToString(i++)</td>
                <td>@lista.ImeIzazivaoca</td>
                <td>@lista.Mesto</td>
                <td>@lista.ZakazanoVreme  @lista.ZakazanDatum</td>
                <td>@lista.VremePoslatogIzazova</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-danger" asp-controller="Dobijeni" asp-action="Obrisi" asp-route-id="@lista.IdIzazova"> Odbi</a>
                        <a class="btn btn-success" asp-controller="Dobijeni" asp-action="Prihvatam" asp-route-id="@lista.IdIzazova"> Prihvatam</a>
                        <a class="btn btn-warning" asp-controller="Dobijeni" asp-action="Promeni" asp-route-id="@lista.IdIzazova">Promeni</a>
                    </div>
                </td>

            </tr>
        }
        </tbody>
    </table>
    <a type="button" asp-controller="home" asp-action="Index" class="btn btn-secondary">Pocetna</a>
 }
 else
 {
 <h2>Niste izazvani</h2>
 <a type="button" asp-controller="home" asp-action="Index" class="btn btn-secondary">Pocetna</a>
 }