@using Korisnik.ViewModel;
@model SveTabele_ViewModel
@{ ViewData["Title"] = "SveTabele";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@{ int i = 1; }

<h1>Lista  Korisnika</h1>

@if (Model.ApplicationKorisnik.Any())
{
    <table class="table table-dark">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ime</th>
                <th scope="col">Prezime</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var list in Model.ApplicationKorisnik)
            {
                <tr>
                    <td class="w-15">@Convert.ToString(i++)</td>
                    <td class="w-15">@list.Ime</td>
                    <td class="w-15">@list.Prezime</td>
                    <td class="w-50">
                        <form method="post" asp-action="DeleteUser" asp-route-id="@list.Id">

                            <a asp-action="EditUser" asp-controller="Administrator"
                               asp-route-id="@list.Id" class="btn btn-primary">Promeni\Ogranici</a>

                            <span id="confirmDeleteSpan_@list.Id" style="display:none">
                                <span>Da li si siguran da zelis da obrises?</span>
                                <button type="submit" class="btn btn-danger">Da</button>
                                <a href="#" class="btn btn-primary"
                                   onclick="confirmDelete('@list.Id', false)">Ne</a>
                            </span>

                            <span id="deleteSpan_@list.Id">
                                <a href="#" class="btn btn-danger"
                                   onclick="confirmDelete('@list.Id', true)">Obrisi</a>
                            </span>

                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="card text-white bg-secondary mb-3">
        <div class="card-body">
            <h4 class="card-title">TRENUTNO NEMA <b style="color:red"> REGISTROVANIH KORISNIKA </b>  </h4>
        </div>
    </div>
    
}

<h1>Lista  Izazova</h1>

@if (Model.Izazovi.Any())
{
    <form method="post">
        <table class="table table-dark">

            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Izazivaoc</th>
                    <th scope="col">Izazvani</th>
                    <th>Zakazano Mesto</th>
                    <th>Zakazano Vreme i Datum</th>
                    <th>Vreme Slanja</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lista in Model.Izazovi)
                {
                <tr>
                    <td>@lista.IdIzazova</td>
                    <td>@lista.ImeIzazivaoca</td>
                    <td>@lista.ImeIzazvanog</td>
                    <td>@lista.Mesto</td>
                    <td>@lista.ZakazanoVreme  @lista.ZakazanDatum</td>
                    <td>@lista.VremePoslatogIzazova</td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Administrator" asp-action="ObrisiIzazov" asp-route-id="@lista.IdIzazova"> Obrisi</a>
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </form>
}
else
{
    <div class="card text-white bg-secondary mb-3">
        <div class="card-body">
            <h4 class="card-title">TRENUTNO NEMA <b style="color:red"> IZAZOVA U PROCESU</b>  </h4>
        </div>
    </div>
}

<h1>Lista  Prihvacenih izazova</h1>

@if (Model.PrihvaceniIzazovi.Any())
{

    <table class="table table-dark">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Izazivaoc</th>
                <th scope="col">Izazvani</th>
                <th scope="col">Zakazano Mesto</th>
                <th scope="col">Zakazano Vreme i Datum</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lista in Model.PrihvaceniIzazovi)
            {
            <tr>
                <td>@lista.IdIzazova</td>
                <td>@lista.ImeIzazivaoca</td>
                <td>@lista.ImeIzazvanog</td>
                <td>@lista.Mesto</td>
                <td>@lista.ZakazanoVreme  @lista.ZakazanDatum</td>
                <td>
                    <a class="btn btn-danger" asp-controller="Administrator" asp-action="ObrisiPrihvacen" asp-route-id="@lista.IdIzazova"> Obrisi</a>
                </td>
            </tr>
            }

        </tbody>
    </table>

}
else
{
    <div class="card text-white bg-secondary mb-3">
        <div class="card-body">
            <h4 class="card-title">TRENUTNO NEMA <b style="color:red"> PRIHVACENIH IZAZOVA </b>  </h4>
        </div>
    </div>

}

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}
